- content_for :title, "This is fancy Home Title"

%h1 Home#page
%p Find me in app/views/home/page.html.haml

= javascript_include_tag 'custom-alert'
%p
  %button{type: 'button', onclick: 'customAlert()'}
    Click here

%h3 Elm

%div#collections-widget
= render partial: 'js_for_page'
